.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
  }

#dashboard {
  width: 320px;
  border: 1px solid black;
}

p {
  text-align: center;
}